body {
  font-size: 20px;
  font-family: Georgia;
  /*background-color: rgb(51, 51, 51)*/
  background-color: black;
  margin-left: 0 auto;
}

input[type="button"] {
    width: 10em;
    height: 5em;
    margin-left: 0 auto;
}

#board, #footer {
  width: 30em;
  height: 26em;
  margin: auto;
}

.whammyPic{
  margin-left: 2px;
  background-image: url('./img/whammy2bw.png');
  background-size: 4em 4em;
  width: 4em;
  height: 4em;
  float: left;
}


#celMiddle {
  float:left; 
  width: 20em;
  height:15em; 
  color: red;
  /*border: black .2em solid;*/
  background-image: url("./img/logo.png");
  background-size: 20em 15em;
  background-repeat: no-repeat;
  border-radius: 2em;
  overflow: hidden;
}

#whammysContainerDiv {
  /*width: 15em;
  height: 3em;*/
  box-sizing: border-box;
  float: left;
}

#spins{
  margin-top: -0.5em;
}
#spins p {
  color:yellow;
  font-size: 1em;
  /*display: inline-block;*/
  float:right;
  /*margin: em 0em 2em 1em;*/
}

#score {
  color: red;
  text-align: center;
  font-size: 2em;
  margin-top: -0.2em;
}

#spinScore {
  float:right;
}

#startStopDiv {
  /*padding-top: 0.5em;*/
  padding-bottom: 1em;
  text-align: center;
  float:left;
  margin-left: 1em;

  /*width: 38em;*/
  /*margin-left: 1em;*/
  /*float: right;*/
}

.flash {
    color: #FFF !important;
    background: #FC79CE;
    !important;
    border: 0.5em
}

.celRow {
  width: 5em;
  height: 5em;
  float: left;
  background-color: gray;
  /*border: black .2em solid;*/
}


.celStack {
  width: 5em;
  height: 5em;
  background-color: gray;
}

.cel {
/*   background-image: url('http://orig07.deviantart.net/7cf0/f/2013/071/2/f/press_by_designerboy7-d5xuww5.png'); */
  background-size: 4.8em 4.8em;
  background-repeat: no-repeat;
  border-radius: 1em;
  border: .2em solid;
  /*margin: .5em;*/
  text-align: center;
  box-sizing: border-box;
  /*padding: 0.6em*/

}

.sprite {
  width: 46.5em;
  height: 47em;
  background-image: url('http://orig07.deviantart.net/7cf0/f/2013/071/2/f/press_by_designerboy7-d5xuww5.png');
/*   background-position: -2318px -465px; */
}

.red {
  margin: red .5em dotted;
}

.btn {
  background: #d93434;
  background-image: -webkit-linear-gradient(top, #d93434, #b82b2b);
  background-image: -moz-linear-gradient(top, #d93434, #b82b2b);
  background-image: -ms-linear-gradient(top, #d93434, #b82b2b);
  background-image: -o-linear-gradient(top, #d93434, #b82b2b);
  background-image: linear-gradient(to bottom, #d93434, #b82b2b);
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 2em;
  font-family: Arial;
  color: #ffffff;
  font-size: 1em;
  /*padding: 1em 0.5em 2em 0.5em;*/
  text-decoration: none;
  width: 4em;
  height: 4em
}

/*.btn:hover {
  /*background: #537d15;*/
  background-image: -webkit-linear-gradient(top, #537d15, #34d944);
  background-image: -moz-linear-gradient(top, #537d15, #34d944);
  background-image: -ms-linear-gradient(top, #537d15, #34d944);
  background-image: -o-linear-gradient(top, #537d15, #34d944);
  background-image: linear-gradient(to bottom, #537d15, #34d944);
  text-decoration: none;
}*/