body {
  font-size: 10px;
}

#board {
  width: 320px;
  height: 260px
}

#startStopDiv {
  padding-top: 25px;
}

.celRow {
  width: 50px;
  height: 50px;
  float: left;
  background-color: gray;
  border: black 1px solid;
}

.celMiddle {
  float:left; 
  height:154px; 
  width: 206px;
  border: black 1px solid;
  background-image: url("https://upload.wikimedia.org/wikipedia/en/c/cd/Press_Your_Luck.png");
  background-size: 206px 154px;
  background-repeat: no-repeat;
}

.celStack {
  width: 50px;
  height: 50px;
  background-color: gray;
  border: black 1px solid;
}

.cel {
/*   background-image: url('http://orig07.deviantart.net/7cf0/f/2013/071/2/f/press_by_designerboy7-d5xuww5.png'); */
  background-size: 50px 50px;
  background-repeat: no-repeat;
}

.sprite {
  width: 465px;
  height: 470px;
  background-image: url('http://orig07.deviantart.net/7cf0/f/2013/071/2/f/press_by_designerboy7-d5xuww5.png');
/*   background-position: -2318px -465px; */
}

.black {
  border: red 2px dotted;
}