body {
  font-size: 20px;
  font-family: Georgia;
  background-color: rgb(51, 51, 51)
}

input[type="button"] {
    width: 10em;
    height: 5em;
    margin-left: 0 auto;
}

#board {
  width: 38em;
  height: 32em
}

#score {
  color: red;
  width: 10em;
  height: 3em;
  text-align: center;
  margin-left: 15em;
}

#startStopDiv {
  padding-top: 0.5em;
  padding-bottom: 1em;
  text-align: center;
  width: 38em;
}

.celRow {
  width: 5em;
  height: 5em;
  float: left;
  background-color: gray;
  /*border: black .2em solid;*/
}

.celMiddle {
  float:left; 
  width: 24.1em;
  height:17em; 
  /*border: black .2em solid;*/
  background-image: url("https://upload.wikimedia.org/wikipedia/en/c/cd/Press_Your_Luck.png");
  background-size: 24.1em 17em;
  background-repeat: no-repeat;
  border-radius: 2em;
  overflow: hidden;

}

.celStack {
  width: 5em;
  height: 5em;
  background-color: gray;
}

.cel {
/*   background-image: url('http://orig07.deviantart.net/7cf0/f/2013/071/2/f/press_by_designerboy7-d5xuww5.png'); */
  background-size: 5em 5em;
  background-repeat: no-repeat;
  border-radius: 1em;
  border: .1em solid;
  margin: .5em;
  text-align: center;
  box-sizing: border-box;

}

.sprite {
  width: 46.5em;
  height: 47em;
  background-image: url('http://orig07.deviantart.net/7cf0/f/2013/071/2/f/press_by_designerboy7-d5xuww5.png');
/*   background-position: -2318px -465px; */
}

.red {
  border: red .5em dotted;
}
}